
body {
	background-color: #fff;
	color: #444;
	
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 62.5%; /* 16px × 62.5% = 10px */
}

form {
  margin: 0;
  padding: 0;
}

/* Warning ! */
body.framed {
	background-color: red;
}

#frame-warning {
  display: none;
}

body.framed #frame-warning {
  font-size: 300%;
  display: block;
}

#content {
  width: 45em;
  margin: 0 auto;
}

#freepass {
	background-color: #aabbcc;
	padding: 1em;
	
	font-size: 2em;
	line-height: 1.4em;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

body.framed #freepass {
	font-size: 1.2em;
	width: auto;
}

#freepass input {
	width: 100%;
	font-family: Monospace, fixed;
	font-size: inherit;
}

#freepass #subdomain {
  width: 2em;
}

#freepass #result {
	text-align: center;
	background: inherit;
	border: none;
}

#notice {
  text-align: right;
  margin-top: 0.5em;
}

#debug {
  color: #aaaaaa;
}
