
body {
	background-color: #fff;
	color: #444;
	
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 62.5%; /* 16px × 62.5% = 10px */
}

/* Warning ! */
body.framed {
	background-color: red;
}

#frame-warning {
  display: none;
}

body.framed #frame-warning {
  font-size: 300%;
  display: block;
}

#freepass {
	background-color: #aabbcc;
	width: 20em;
	padding: 1em;
	margin: 0 auto;
	
	font-size: 2em;
	text-align: justify;
	line-height: 1.4em;
}

body.framed #freepass {
	font-size: 1.2em;
	width: auto;
}

#freepass label {
	display: block;
}

#freepass input {
	width: 100%;
	font-family: Monospace, fixed;
	font-size: inherit;
}

#freepass #result {
	text-align: center;
}

#info {
  width: 40em;
  padding: 1em;
  margin: 0 auto;
}
