* {
  font: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: none;
}
body {
  min-width: 150px;
  max-width: 960px;
  margin: 0 auto;
  
  background-color: #fff;
  color: #444;
  
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
}

input[type=password], input[type=text] {
  font-family: Monospace, fixed;
  width: 100%;
  border: none;
}

input[type=checkbox] {
  float: right;
}

label {
  font-size: 80%;
}

p {
  font-size: 60%;
}

#freepass {
  background-color: #aabbcc;
  padding: 0.5em;
  font-size: 1.5em;
  
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
}

#freepass h1 {
  float: right;
  font-size: 0.5em;
}

#domain-wrap {
  position: relative;
}

#domain-mask {
  width: 100%;
  font-family: Monospace, fixed;
  color: #000;
  color: #444;
   
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}

#domain-mask .prefix, #domain-mask .postfix {
  color: #aaa;
}

#result {
  filter:alpha(opacity=60);
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}

#bookmarklet {
  float: right;
  font-size: 70%;
  color: #fba;
}

#debug {
  color: #aaa;
}

#noscript {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: #faa;
  font-size: 300%;
}