* {
  font: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  min-width: 150px;
  max-width: 540px;
  margin: 0 auto;
  
  background-color: #fff;
  color: #444;
  
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

label {
  font-size: 80%;
}

p {
  font-size: 60%;
}

#title {
  font-size: 150%;
  text-align: center;
}

#freepass {
  position: relative;
  width: 100%;
  height: 14em;
  margin-bottom: 4em;

  -webkit-perspective: 600;
  -moz-perspective: 600;
}

#freepass > div {
  background-color: #bdbdbd;
  padding: 1em;
  padding-right: 2em;
  border: 1px solid #ccc;
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;

  font-size: 1.5em;
  text-align: center;

  text-shadow: 1px  1px 1px rgba(0,0,0,0.6);
  border-radius: 0.5em;
}

#freepass input {
  background-color: #eee;
}

#freepass input:focus {
  outline: none; /* remove the Chrome blue border */

  box-shadow:inset 0px 0px 5px rgba(0,0,0,.5);
  -webkit-box-shadow:inset 0px 0px 5px rgba(0,0,0,.5);
  -moz-box-shadow:inset 0px 0px 5px rgba(0,0,0,.5);
}

#freepass input[type=password], #freepass input[type=text] {
  font-family: Monospace, fixed;
  width: 100%;
  border: none;
  padding: 0.5em;
  border-radius: 0.25em;
}

#freepass .masterpw:focus, #freepass .domain:focus {
  background-color: #fff;
}

#freepass .domain-label {
  margin-top: -0.25em;
}

#freepass .subdomain {
  float: right;
}

#freepass .domain-wrap {
  position: relative;
  text-align: left;
}

#freepass .domain-mask {
  width: 100%;
  font-family: Monospace, fixed;
  color: #000;
  color: #444;
  padding-left: 0.5em;
   
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}

#freepass .domain-mask .prefix, #freepass .domain-mask .postfix {
  color: #d5d5d5;
}

#freepass .domain-mask .main {
  color: black;
}

#freepass button.info {
  position: absolute;
  right: 0.75em;
  bottom: 0.75em;

  background: white;
  font-style: italic;
  font-size: 50%;
  border-radius: 0.5em;
  width: 1em;
  height: 1em;

  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
  box-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

#freepass button[type=submit] {
  width: 100%;
  background-color: transparent;
}

#freepass .result {
  color: #48a74c;
  background-color: #daf5db;
}

#freepass .result.missing {
  color: #a7484c;
  background-color: #f5dadb;
}

#bookmarklet {
  font-size: 70%;
  color: #fba;
}

#debug {
  color: #aaa;
}

#noscript {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: #faa;
  font-size: 300%;
}

/**
 * CSS transforms
 */
#freepass .front {
  z-index: 900;
  
  -webkit-transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;

  /* -- transition is the magic sauce for animation -- */
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#freepass.flip .front {
  z-index: 900;
 
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  
  -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

#freepass .back {
  z-index: 800;
  
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;

  /* -- transition is the magic sauce for animation -- */
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#freepass.flip .back {
  z-index: 1000;
  
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);

  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}